<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean Definitions -->
    <bean id="book1" class="com.example.springcore.Book">
        <property name="title" value="Spring in Action"/>
        <property name="author" value="Craig Walls"/>
    </bean>

    <bean id="book2" class="com.example.springcore.Book">
        <property name="title" value="Effective Java"/>
        <property name="author" value="Joshua Bloch"/>
    </bean>

<!--
	** setter injection
	    <bean id="library" class="com.example.springcore.Library">
        <property name="books">
            <list>
                <ref bean="book1"/>
                <ref bean="book2"/>
            </list>
        </property>
    </bean>
-->
<!--
	// Constructor injection

	<bean id="library" class="com.example.springcore.Library">
    	<constructor-arg>
        	<list>
            	<ref bean="book1"/>
            	<ref bean="book2"/>
        	</list>
    	</constructor-arg>
    </bean>
-->
</beans>
